* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: auto;
  display: block;
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 46px 120px 36px 120px;
  margin-bottom: 125px;
}

.navbar a {
  text-decoration: none;
}

.nav-logo {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #192252;
}

.nav-section {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-section a {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #192252;
}

.nav-btn {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 14px 16px;
  background: #0e1734;
  border-radius: 4px;
}

.group2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 120px 0px 121px;
  margin-bottom: 176px;
}

.group2 .group2-list1 {
  width: 45%;
  display: block;
}

.group2-list1 h1 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #192252;
  margin-bottom: 24px;
}

.group2-list1 p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #848fac;
  margin-bottom: 32px;
}

.group2-list1 a {
  text-decoration: none;
  background: #0e1734;
  border-radius: 4px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 16px 32px;
}

.group2-list2 {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.group2-list2 .img2 {
  margin-bottom: -50px;
}

.group2-list2 .img1 {
  margin-top: -50px;
}

.task {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 116px;
}

.task h1 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #192252;
}

.task img {
  margin-top: 62px;
  margin-bottom: 44px;
}

.task-text1 {
  width: 793.06px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #848fac;
  margin-bottom: 40px;
}

.task-text2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
}

footer {
  width: 100%;
  height: auto;
  background: #0b265a;
  padding: 120px 188px 123px 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.box-footer1 {
  width: 186px;
  display: block;
}

.box-footer1-main {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.01em;
  color: #ffffff;
  text-decoration: none;
}

.box-footer1 p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #d9dbde;
  margin: 13px 0 36px 0;
}

.footer-social-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box-footer2 {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.box1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.box1 a {
  text-decoration: none;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #d9dbde;
}

.box-main {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
